@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

$roboto-slab: 'Roboto Slab', serif;   
$open-sans: 'Open Sans', sans-serif;

body {
  margin: 0;
  padding: 0;
  background: #1F1B24;
  color: white;
  font-family: $roboto-slab;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}
